<head>
  <link rel="stylesheet" href="/assets/css/style.css" type="text/html" />
</head>

<body>

<div class="container">


  <div class="col-md-12">


      <div class="row info">
        <div class="col-sm-8">
          <div class="card loca">
            <div class="card-title">
              <h2 class="article" data-id={{this._id}}>
                {{this.title}}
              </h2>
            </div>
            <div class="card-body">
              <p class="card-text">{{this.summary}}</p>
              <a href={{this.link}} target="_blank">{{this.link}}</a>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-info add-note"

            </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-md-6">
    <form action="/articles/note/{{this._id}}" method="post">
      <div class="form-group">
        Name: 
        <input class="form-control" type="text" name="name">
      </div>
      <div class="form-group">
      	Note:
      	<textarea class="form-contol" name="note" rows="6" cols="50"></textarea>
      	<br>
      	<input type="submit" class="savenote">
      </div>
    </form>
  </div>
</div>

{{#each notes}}

<div class="row info">
  <div class="col-md-12">
    <div class="card">
      <div class="card-title">
        <h2 class="note-name">{{this.name}}</h2>
      </div>
      <div class="card-body">
      	<p class="card-text">{{this.body}}</p>
      </div>
    </div>
  </div>
</div>

{{/each}}
</div>


</div>

</body>
